.slidewizard-container {
  margin-top: 30px;
  padding-right: 20px;
}
.slidewizard-container a {
  text-decoration: none
}
.slidewizard-container input {
  height: auto
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../font/BebasNeue-webfont.eot');
    src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/BebasNeue-webfont.woff') format('woff'),
         url('../font/BebasNeue-webfont.ttf') format('truetype'),
         url('../font/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* SlideWizard Top Block
=================================================================== */
.slidewizard-topblock,
.slidewizard-form-header {
  background: #222;
  border: 1px solid #000;
  border-bottom: 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, .2) inset;
  -moz-box-shadow: 0 1px rgba(255, 255, 255, .2) inset;
  box-shadow: 0 1px rgba(255, 255, 255, .2) inset;
}
.slidewizard-topblock {
  padding: 10px 20px;
}
  .slidewizard-topblock h1 {
    color: #FFF;
	font-family: "bebas_neueregular",sans-serif;
	font-size: 28px;
	font-weight:normal;
  }
  .slidewizard-topblock h1 a{
	color: #FFF !important; 
  }
  .logo-wrapper{
	float:left;
	position:relative;
  }
  .slidewizard-topblock h1 img{
	vertical-align: middle;
	margin-right: 5px;
	width: 32px;
	position: relative;
	top: -3px;
	height: 32px;
	}
  .slidewizard-topblock .slidewizard-version {
    color: #FFF;
	bottom: 3px;
	position: absolute;
	right: 0px;
	font-size: 11px;
  }
  .slidewizard-topblock .btn{
    float: right;
    margin: 15px 0 5px;
  }


/* SlideWizard Navbar
=================================================================== */
.slidewizard-container .navbar {
  margin-bottom: 0;
}
  .slidewizard-container .navbar-inner {
    border-radius: 0
  }


/* SlideWizard Main
=================================================================== */
.slidewizard-main {
  border: 1px solid #ccc;
  border-top-width: 0px;
  background: #f9f9f9;
  padding: 20px 20px 10px;
}
.slidewizard-form-body iframe {
  margin: 20px auto;
  display: block;
}

.slidewizard-footnote {
  background: #EBEBEB;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-top: 0;
}
.slidewizard-footnote ul {
  list-style: none;
  margin: 0;
  overflow: hidden
}
.slidewizard-footnote li {
  float: left;
  margin-bottom: 0;
  margin-right: 30px;
  position: relative
}
.slidewizard-footnote li:after {
  content: "\2022";
  top: 9px;
  right: -15px;
  margin: 0 0 0 10px;
  position: absolute;
}
.slidewizard-footnote a {
  display: block;
  padding: 8px 0;
}


/* SlideWizard Form
=================================================================== */
.slidewizard-form-title input {
  font-size: 24px;
  line-height: 1;
	width: 100%;
}
.slidewizard-form-header {
  padding: 10px;
}
.accordion-group {
  margin-bottom: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.accordion-heading {
  font-size: 15px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, white, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  background-image: -o-linear-gradient(top, white, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
}
.accordion-heading .accordion-toggle,
.accordion-inner {
  padding-top: 11px;
  padding-bottom: 11px;
}
.accordion-toggle {
  color: #555;
}
.accordion-body .tab-content {
  overflow: visible;
  min-height: 250px;
}
.tooltip-inner {
  max-width: 300px;
}


/* Themes List
=================================================================== */
.themes-list .themes {
  float: left;
  padding: 5px;
  margin: 0 20px 20px 0;
  line-height: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.055);
}
  .themes-list .themes:hover,
  .themes-list .themes.active {
    background: #f5f5f5
  }
  .themes-list .themes-thumb,
  .themes-list .themes-thumb img {
    display: block
  }
  .themes-list .themes-title {
    text-align: center;
    font-weight: bold;
    margin: 10px 0 5px;
    display: block;
  }
  .themes-list input {
    display: none;
  }


/* Options List
=================================================================== */
.options-list {
  margin-left: 0;
}
.form-horizontal .control-label {
  text-align: left;
  width: 230px;
}
.form-horizontal .control-label .label-text {
  font-weight: bold;
}
.form-horizontal .control-group {
  margin-bottom: 0;
  padding: 17px 12px;
  border-bottom: 1px solid #ddd
}
.form-horizontal .control-group.last,
.form-horizontal .control-group:last-child {
  border-bottom: 0
}
.tooltip-help {
  padding: 2px 6px;
  background: #ddd;
  margin-left: 10px;
  cursor: help;
}
.control-option {
  float: left;
}
.popover-content .control-option {
  width: 225px;
}
.popover-content .control-option .alt-desc {
  line-height: 16px;
  margin-top: 8px;
}
.btn-group > .btn {
  margin: 0;
}
.save-buttons {
  padding: 15px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}
.control-option .hidden {
  display: none;
}


/* Input Type Slider
------------------------------------------------------------------- */
.input-slider {
  height: 10px;
  float: left;
  width: 205px;
  margin-top: 8px;
  margin-bottom: 5px;
  background: whiteSmoke;
  border: 1px solid #CCC;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1) inset;
}
.input-slider span {
  position: absolute;
  bottom: -23px;
  color: #999
}
.input-slider .max {
  right: 0;
}
.input-slider,
.input-slider .ui-slider-handle {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.input-slider .ui-slider-range {
  height: 100%
}
.input-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 16px;
  height: 16px;
  top: -4px;
  margin-left: -.6em;
  background: #555;
  border: 1px solid #555;
  -webkit-box-shadow: 0 1px rgba(255,255,255,.5) inset;
  -moz-box-shadow: 0 1px rgba(255,255,255,.5) inset;
  box-shadow: 0 1px rgba(255,255,255,.5) inset;
}
.control-option-slider input[type="text"] {
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
  float: left;
  width: 50px;
  margin-left: 10px;
  margin-top: 0;
  color: #999;
  font-size: 13px;
}
.control-option-slider .suffix {
  line-height: 28px;
  color: #999;
}
.btn-primary{
	color: #905F00;
	border-color: #DA903B;
	background-color: #FFB101;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFCA00), color-stop(100%, #FFB101));
	background-image: -webkit-linear-gradient(top, #FFCA00 0%, #FFB101 100%);
	background-image: -moz-linear-gradient(top, #ffca00 0%, #ffb101 100%);
	background-image: -o-linear-gradient(top, #ffca00 0%, #ffb101 100%);
	background-image: linear-gradient(top, #ffca00 0%, #ffb101 100%);
	
	
	cursor: pointer;
text-align: center;
padding: 6px 10px 6px;
line-height: normal;
display: inline-block;
vertical-align: middle;
font-size: 14px !important;
line-height: normal;
border: 1px solid rgba(0, 0, 0, 0);
position: relative;
font-weight: bold;
text-decoration: none;
background-repeat: no-repeat;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.49);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.6) inset;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}
.btn-primary:hover{
	color: #905F00;
	background-color: #FFCA00;
	text-decoration: none;
background-position: 0 15px;
}
/* Input Type Radio
------------------------------------------------------------------- */
.control-option-radio label.radio {
  display: none
}
.input-radio .size-label {
  display: block;
  font-size: 12px;
  color: #999;
}
.input-radio .button-custom {
  vertical-align: middle;
  height: 50px;
}


/* Source Control
------------------------------------------------------------------- */
#slidewizard-source-control {
  position: relative;
}
.source-label {
  position: absolute;
  background: #222;
  color: white;
  top: -10px;
  bottom: -10px;
  left: -10px;
  padding: 10px 15px;
  font-weight: bold;
  line-height: 30px;
}
.slidewizard-source,
.source-icon,
.source-icon img,
.source-icon .configure-source {
  float: left;
}
.source-icon {
  padding: 5px 20px 5px 5px;
  position: relative;
  background: #1f1f1f;
  border: 1px solid #111;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3) inset, 0 1px rgba(255,255,255,.1);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .3) inset, 0 1px rgba(255,255,255,.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, .3) inset, 0 1px rgba(255,255,255,.1);
}
.source-icon .configure-source {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  text-indent: -9999px;
  width: 12px;
  background: #111;
}
.source-icon .configure-source .arrow {
  position: absolute;
  border: 4px solid transparent;
  border-top-color: #999;
  left: 2px;
  top: 50%;
  margin-top: -3px;
}

.source-icon .slidewizard-source-config {
  width:510px; 
  margin-top: 58px;
  padding: 0;
}
.source-icon .slidewizard-source-config .arrow {
  left: 50px;
}
.slidewizard-source-config .popover-title {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px #000;
  background: #222;
}
.slidewizard-source-config.popover .arrow:after {
  border-bottom-color: #222;
}
.slidewizard-source-config .popover-footer {
  padding: 9px 12px;
  background: #f5f5f5;
  -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}
.slidewizard-source-config .popover-footer .btn {
  padding-left: 20px;
  padding-right: 20px;
  float: right;
}
.slidewizard-source-config .options-list {
  margin-bottom: 0;
}
.slidewizard-source-config .options-list input[type="text"],
.slidewizard-source-config .options-list select {
  width: 100%;
}



/* SlideWizard Modal
=================================================================== */
.slidewizard-modal .modal-header {
  padding: 15px;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}


/* SlideWizard Slide List
=================================================================== */
.slidewizard-list {
  margin-left: 0;
}
.slide-thumb {
  position: absolute;
  padding: 2px;
  left: 5px;
  top: 3px;
  /*background: #f0f0f0;
  border: 1px solid #ccc;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.slide-thumb img {
  display: block;
  padding: 3px;
  /*background: #555;*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*-webkit-box-shadow: 0 0 5px #000 inset;
  -moz-box-shadow: 0 0 5px #000 inset;
  box-shadow: 0 0 5px #000 inset;*/
}
.slidewizard-item {
  position: relative;
  margin: 0;
  border: 1px solid #ddd;
  border-top: 0;
  background: #fff;
}
.slidewizard-item:first-child {
  border-top: 1px solid #ddd;
}
.slidewizard-list a {
  display: block;
  padding: 15px 10px 15px 53px;
  font-weight: bold;
  font-size: 15px;
  color: #444;
}
.slidewizard-list a:hover {
  background: #f5f5f5;
}
.slidewizard-action {
  position: absolute;
  right: 20px;
  top: 12px;
  display: none;
}
.slidewizard-action .slidewizard-button {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  float: right;
}
.slidewizard-action .slidewizard-id {
  float: left;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 1px;
}
.slidewizard-item:hover .slidewizard-action {
  display: block
}
.slidewizard-action .tooltip {
  width: 100px;
}
.slidewizard-action .popover pre {
  margin-top: 10px;
  padding: 7px;
  font-size: 12px;
}


/* SlideWizard Sources List
=================================================================== */
.sources-list {
  margin: 10px 0;
}
  .sources-list li {
    width: 248px;
    float: left;
    position: relative;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .sources-list .even {
    margin-left: 30px;
  }
  .sources-list a {
    display: block;
    color: #555;
    outline: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 11px 10px 11px 47px;
    text-decoration: none;
  }
  .sources-list a:hover {
    background: #f5f5f5
  }
  .sources-list .thumbnail {
    position: absolute;
    left: 5px;
    top: 5px;
  }
  .sources-list .thumbnail img {
    display: block;
  }
	

.slidewizard-footnote li:last-child:after {
    display: none;
}
.slidewizard-footer {
    margin-top: 20px;
    text-align: right;
}
.slidewizard-twitter-stream{
		margin-bottom: 20px;
}
.slidewizard-twitter-stream .stream-label {
    background: url("../images/twitter.png") no-repeat scroll left center transparent;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding-left: 30px;
    text-transform: uppercase;
		line-height: 20px;
}
.slidewizard-twitter-stream a {
	text-decoration: none;
}
.slidewizard-twitter-stream ul {
	margin: 0;
}
.slidewizard-twitter-stream li {
	display: none;
}
.slidewizard-twitter-stream li:first-child {
	display: block
}	

.slidewizard-twitter-stream li .time a {
    color: #BBBBBB;
    font-size: 10px;
    font-style: italic;
    margin-left: 3px;
}