/**
 * Themes: Default
 * Version: 1.0
 * Author: ColorLabs & Company
 *
 * Default themes for SlideWizard
 * 
 */

.themes-default {
  /*padding: 10px;*/
  /*border: 1px solid #222;*/
  background: #333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset, 0 0 0 1px #222;
     -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset, 0 0 0 1px #222;
          box-shadow: 0 0 0 1px rgba(255, 255, 255, .2) inset, 0 0 0 1px #222;
}
.themes-default .slidewizard-slide-item {
  float: left;
}
.themes-default .slidewizard {
  /*padding: 10px;*/
  margin: 10px;
}
.themes-default .slide-description-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  background: #333;
  background: rgba(0,0,0,.85);
  color: #eee
}
.themes-default .slide-image img {
  display: block;
  /*width: 100%;*/
}

.themes-default .no-image {
  background: #000;
  display: table;
}
.themes-default .no-image .slide-description-wrapper {
  position: static;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  display: table-cell;
  vertical-align: middle;
}

/* Content
------------------------------------------------------------------- */
.themes-default .slide-title {
  font-size: 20px;
  line-height: 1;
  display: none;
  margin-bottom: 5px;
}
.themes-default .slide-meta {
  margin-bottom: 10px;
  overflow: hidden;
  font-size: 13px;
  display: none;
}
.themes-default .slide-meta img {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
}
.themes-default .slide-author-name,
.themes-default .slide-date {
  margin-left: 8px;
  position: relative;
  top: -10px;
}
.themes-default .slide-date {
  font-style: italic;
}
.themes-default .slide-description,
.themes-default .slide-more-link {
  display: none;
}
.themes-default.slidewizard-show-title .slide-title,
.themes-default.slidewizard-show-avatar .slide-meta,
.themes-default.slidewizard-show-excerpt .slide-description {
  display: block;
}
.themes-default.slidewizard-show-readmore .slide-more-link {
  display: inline;
}

/* Twitter 
---------------------------- */
.themes-default.slidewizard-source-twitter .slide-title {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: normal;
  color: #eee;
}
.themes-default.slidewizard-source-twitter .slide-image img {
  /*max-width: 100%;
  width: auto;
  height: auto;*/
  max-width: none
}
.themes-default.slidewizard-source-twitter .slide-author-name, 
.themes-default.slidewizard-source-twitter .slide-date {
  position: static;
  margin-left: 0;
  font-style: normal;
}
.themes-default.slidewizard-source-twitter .slide-author-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.themes-default.slidewizard-source-twitter .slide-author-name a {
  color: #eee;
}
.themes-default.slidewizard-source-twitter .twitter-avatar {
  float: left;
  margin-right: 15px;
}
.themes-default.slidewizard-source-twitter .slide-inner-wrapper {
  overflow: hidden
}
.themes-default.slidewizard-source-twitter .slide-meta {
  margin-bottom: 0;
}
.themes-default.slidewizard-source-twitter .twitter-avatar {
  position: relative;
}
.themes-default.slidewizard-source-twitter .twitter-avatar img {
  border: 2px solid #eee;
}
.themes-default.slidewizard-source-twitter .retweeter_avatar {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: -5px;
  right: -5px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}


/* Dribbble 
---------------------------- */
.themes-default .dribbble-like-count,
.themes-default .dribbble-rebound-count,
.themes-default .dribbble-views-count {
  background: url("images/dribbble-sprites.png") no-repeat left 2px;
  padding-left: 17px;
  margin-right: 20px;
  color: #eee;
}
.themes-default .dribbble-rebound-count {
  background-position: 0 -42px;
}
.themes-default .dribbble-views-count {
  background-position: 0 -21px;
}

/* Flickr
---------------------------- */
.themes-default.slidewizard-source-flickr .slide-author-name, 
.themes-default.slidewizard-source-flickr .slide-date {
  top: 0;
  margin-left: 0;
  margin-right: 8px;
}
.themes-default .smaller-image img {
  width: 100%
}
.themes-default.slidewizard-source-flickr .slide-text img {
  display: none
}
.themes-default .slide-text {
  font-size: 13px;
  line-height: 18px;
}

/* Instagram
---------------------------- */
.themes-default.slidewizard-source-instagram .slide-meta {
  margin-bottom: 0;
}
.themes-default .slide-image {
  overflow: hidden
}
.themes-default.slidewizard-source-instagram .slide-image img {
  width: 100%;
}

/* Youtube & Vimeo
---------------------------- */
.themes-default.slidewizard-source-youtube .slide-image img {
  width: 100%;
}
.themes-default .youtube-video-cover,
.themes-default .youtube-video-cover .youtube-video-iframe,
.themes-default .youtube-video-cover .youtube-video-thumbnail,
.themes-default .vimeo-video-cover,
.themes-default .vimeo-video-cover .vimeo-video-iframe,
.themes-default .vimeo-video-cover .vimeo-video-thumbnail {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.themes-default .youtube-video-cover .play-youtube-video,
.themes-default .vimeo-video-cover .play-vimeo-video {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  height: 64px;
  z-index: 5;
  cursor: pointer;
  margin: -32px 0 0 -32px;
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  -webkit-border-radius: 64px;
     -moz-border-radius: 64px;
          border-radius: 64px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 -20px 20px rgba(0,0,0,.2) inset;
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 -20px 20px rgba(0,0,0,.2) inset;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 -20px 20px rgba(0,0,0,.2) inset;
  -webkit-transition: opacity 0.2s ease;
     -moz-transition: opacity 0.2s ease;
      -ms-transition: opacity 0.2s ease;
       -o-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease;
}
.themes-default .youtube-video-cover .play-youtube-video:before,
.themes-default .vimeo-video-cover .play-vimeo-video:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: url(images/play.png) no-repeat 50% 50%;
}
.themes-default .youtube-video-cover .play-youtube-video:hover,
.themes-default .vimeo-video-cover .play-vimeo-video:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1
}
.themes-default.slidewizard-navigation-bottom.slidewizard-source-youtube .slidewizard-navigation,
.themes-default.slidewizard-navigation-bottom.slidewizard-source-vimeo .slidewizard-navigation {
  bottom: 50px;
}


/* Navigation
------------------------------------------------------------------- */
.themes-default .slidewizard-controls {
  position: absolute;
  top: 50%;
  font-size: 50px;
  color: #eee;
  z-index: 1000;
  text-align: center;
  height: 50px;
  width: 30px;
  background: #333;
  background: rgba(0,0,0,.6);
  margin-top: -25px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.themes-default .slidewizard-controls span {
  line-height: 40px;
  display: block;
  text-indent: -9999px;
  width: 28px;
  height: 28px;
  margin-top: 10px;
  background: url(images/arrow-sprites.png) no-repeat;
}

/* Controls horizontal */
.themes-default .slidewizard-controls-next span {
  background-position: -50px 0;
}
.themes-default .slidewizard-controls-prev span {
  background-position: 5px 0;
}

/* Controls Vertical */
.slidewizard-direction-up.themes-default .slidewizard-controls {
  width: 50px;
  height: 30px;
}
.slidewizard-direction-up.themes-default .slidewizard-controls span {
  margin-left: 10px;
  margin-top: 2px;
}
.slidewizard-direction-up.themes-default .slidewizard-controls-next span {
  background-position: -111px -2px;
}
.slidewizard-direction-up.themes-default .slidewizard-controls-prev span {
  background-position: -167px -2px;
}
.slidewizard-direction-up.themes-default .slidewizard-controls-next,
.slidewizard-direction-up.themes-default .slidewizard-controls-prev {
  right: 20px;
  left: auto;
}
.slidewizard-direction-up.themes-default .slidewizard-controls-next {
  margin-top: -40px;
}
.slidewizard-direction-up.themes-default .slidewizard-controls-prev {
  margin-top: -5px;
}


.slidewizard-wrapper.themes-default .slidewizard-controls:hover {
  background: #111;
  background: rgba(0,0,0,.8);
}
.themes-default .slidewizard-controls.disabled,
.themes-default.slidewizard-control-onhover:hover .slidewizard-controls.disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.slidewizard-direction-left.themes-default .slidewizard-controls-next {
  right: 20px;
}
.slidewizard-direction-left.themes-default .slidewizard-controls-prev {
  left: 20px;
}

.slidewizard-direction-left.themes-default.slidewizard-control-onhover .slidewizard-controls-next {
  right: 8px
}
.slidewizard-direction-left.themes-default.slidewizard-control-onhover .slidewizard-controls-prev {
  left: 8px
}
.slidewizard-direction-left.themes-default.slidewizard-control-onhover:hover .slidewizard-controls-next {
  right: 20px
}
.slidewizard-direction-left.themes-default.slidewizard-control-onhover:hover .slidewizard-controls-prev {
  left: 20px
}
.themes-default.slidewizard-control-onhover .slidewizard-controls {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.themes-default.slidewizard-control-onhover:hover .slidewizard-controls {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;  
}

.themes-default .slidewizard-navigation {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
}
.themes-default .slidewizard-nav-dots a {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #333;
  border: 1px solid #111;
  margin: 0 3px;
  -webkit-border-radius: 14px;
     -moz-border-radius: 14px;
          border-radius: 14px;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, .3), 0 1px 3px rgba(0, 0, 0, .4) inset;
     -moz-box-shadow: 0 1px rgba(255, 255, 255, .3), 0 1px 3px rgba(0, 0, 0, .4) inset;
          box-shadow: 0 1px rgba(255, 255, 255, .3), 0 1px 3px rgba(0, 0, 0, .4) inset;
} 
.themes-default .slidewizard-nav-dots a:hover {
  background: #555;
}
.themes-default .slidewizard-nav-dots a.selected {
  background-color: #09c;
  cursor: default;
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, .5);
     -moz-box-shadow: 0 1px rgba(0, 0, 0, .5);
          box-shadow: 0 1px rgba(0, 0, 0, .5);
}
.themes-default .slidewizard-nav-dots span {
  display: block;
  text-indent: -9999px
}

/* Navigation Position
---------------------- */
.themes-default.slidewizard-navigation-bottom .slidewizard-navigation {
  bottom: 20px;
}
.themes-default.slidewizard-navigation-bottom .slide-description-wrapper {
  bottom: auto;
  top: 0;
}

.themes-default.slidewizard-navigation-top .slidewizard-navigation {
  top: 20px;
}
.themes-default.slidewizard-navigation-top .slide-description-wrapper {
  top: auto;
  bottom: 0;
}